body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #252525;
}

nav {
  background-color: #323232;
  padding: 15px;
  text-align: center;
  position: sticky;
  top: 0;
  border: solid #252525; ;
   
}

.botoes-topo button {
  background-color: #363636;
  color: whitesmoke;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 255, 13, 0.918);
  margin: 4px;
}

.botoes-topo button:hover {
  background-color: #555;
}

main {
  color: whitesmoke;
  max-width: 800px;
  margin: 30px auto;
  background-color: #363636;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 8px 10px rgba(55, 255, 5, 0.267);
}

section{
  color: whitesmoke;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #323232;
  box-shadow: 0 0px 5px rgba(0, 255, 13, 0.918);

}

ul {
  padding-left: 20px;
}


footer {
  text-align: center;
  color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  background-color: #252525;
  box-shadow: 0 -2px 5px rgba(0, 255, 13, 0.918);

  
}